// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
text-align: center;
top: 30%;
width: 100%;
position: absolute;
line-height: 1em;
}

#clock {
  font-family: impact;
  font-size: 2em;

}

#quote {
bottom: 5em;
position: absolute;
width: 100%;
text-align: center;
font-size: .9em;

&:before {
  content: open-quote;
  font-size: 1em;
}

&:after {
  content: close-quote;
  font-size: 1em;
}

}